%nav.top-bar.logo
  %ul
    %li
      = link_to 'Jade', 'index.html', class: 'menu-items'
%nav.top-bar
  %ul
    %li
      = link_to 'Projects', '/#Projects', class: 'menu-items'
    %li
      = link_to 'About', '/#About', class: 'menu-items'
    %li
      = link_to 'Contact', '/#Contact', class: 'menu-items'
    %li
      = link_to 'CV', '/CV.html', class: 'menu-items'
