%nav.top-bar.logo
  %ul
    %li
      = link_to 'Jade', 'index.html', class: 'menu-items'
%nav.top-bar
  %ul
    %li
      = link_to 'Projects', 'portfolio-website/#Projects', class: 'menu-items'
    %li
      = link_to 'About', 'portfolio-website/#About', class: 'menu-items'
    %li
      = link_to 'Contact', 'portfolio-website/#Contact', class: 'menu-items'
    %li
      = link_to 'CV', 'portfolio-website/CV.html', class: 'menu-items'
